<ion-content>
  <div id="containerp">
    <div class="container">
      <ion-label>{{date.date|date:'mediumDate'}}</ion-label>

      <ion-input
        type="text"
        [(ngModel)]="title"
        placeholder="Tu titulo aquí"
        style="font-size: xx-large"
      ></ion-input>
    </div>
    <div class="container">
      <ion-checkbox [(ngModel)]="allday"></ion-checkbox
      ><ion-label>Todo el dia</ion-label>
    </div>
    <div *ngIf="!allday" id="date">
      <ion-item>
        <ion-label>Inicio</ion-label>
        <input type="datetime-local" [(ngModel)]="start" />
      </ion-item>
      <ion-item>
        <ion-label>Final</ion-label>
        <input type="datetime-local" [(ngModel)]="end" />
      </ion-item>
    </div>
    <ion-list>
      <ion-list-header>
        <ion-label>
          Single Selection
        </ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Repetir</ion-label>
        <ion-select [(ngModel)]="repeat" okText="Okay" cancelText="Dismiss">
          <ion-select-option value="no">No repetir</ion-select-option>
          <ion-select-option value="">cada día</ion-select-option>
          <ion-select-option value="daily">cada {{day}}</ion-select-option>
          <ion-select-option value="semana">cada semana</ion-select-option>
          <ion-select-option value="mes">cada mes</ion-select-option>
          <ion-select-option value="año">cada año</ion-select-option>
        </ion-select>
      </ion-item>

    </ion-list>
    <ion-button
      (click)="close()"
      expand="block"
      fill="clear"
      shape="round"
      *ngIf="!event"
    >
      Agregar evento
    </ion-button>

    <ion-segment scrollable [(ngModel)]="color">
      <ion-segment-button value="#C1AE7C">
        <ion-icon style="color: #C1AE7C;" name="square-sharp"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="#1B998B">
        <ion-icon style="color: #1B998B;" name="square-sharp"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="#BAD7F2">
        <ion-icon style="color: #BAD7F2;" name="square-sharp"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="#F2BAC9">
        <ion-icon style="color: #F2BAC9;" name="square-sharp"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="#92140C">
        <ion-icon style="color: #92140C;" name="square-sharp"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="#ffbd00">
        <ion-icon style="color: #ffbd00;" name="square-sharp"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="#390099">
        <ion-icon style="color: #390099;" name="square-sharp"></ion-icon>
      </ion-segment-button>
    </ion-segment>

    <ion-button
      (click)="close()"
      expand="block"
      fill="clear"
      shape="round"
      *ngIf="event"
    >
      Guardar
    </ion-button>
    <ion-button (click)="delet()" *ngIf="event">
      <ion-icon slot="icon-only" name="trash"></ion-icon>
    </ion-button>

  </div>
</ion-content>
