ion-content{
  --background: #ebd9fc;

}
#containerp{
  padding: 10%;
  text-align: center;
  .container{
    ion-checkbox,ion-label{
      vertical-align:middle;
      font-size: medium;
    }
    ion-checkbox{
      margin: 1em;
    }
    .c{

    }
  }
}
