ion-content{
ion-grid{
  
  border-radius: 20em;


  background-color: pink;
  text-align: center;
  .minutes{
    margin: 1%;
    font-size: xx-large;
    font-weight: 600;
  }
  .seconds{
    margin: 1%;
    font-size: xx-large;
    font-weight: 600;
  }
}
}
