div{
  padding: 10%;
ion-grid{
  border-radius: 20em;
  text-align: center;


  background-color: pink;
  .minutes{
    margin: 1%;
  text-align: right;

    font-size: xx-large;
    font-weight: 600;
  }
  .seconds{
    margin: 1%;
    text-align: center;

    font-size: xx-large;
    font-weight: 600;
  }
  .mseconds{
    margin: 1%;
    font-size: xx-large;
    font-weight: 600;

    text-align: left;
  }
}
}
