<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title> {{tit||'newNote'}} </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save()">
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content >
  <ion-card id="container" >
    <ion-card-header>
      <ion-card-subtitle
        ><ion-input
          [(ngModel)]="tit"
          type="text"
          placeholder="The name of your idea here"
        >
        </ion-input
      ></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-textarea
      rows="20"
        [(ngModel)]="content"
        placeholder="Your great idea here!"
      ></ion-textarea>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="nueva" id="butt">
    <ion-button (click)="delet()" expand="block" fill="clear" shape="round">
      delite
    </ion-button>
  </ion-card>
</ion-content>
