ion-content {
  --overflow: hidden;
  --background: url(../../../../assets//night-4822906.png) 0 0/100% 100%
    no-repeat;
  //0 0/100% 100%

  background-size: cover;
  #butt {
    background: rgba(242, 0, 137);
  }
  #container {
    background: rgba(230, 250, 252, 0.9);

    ion-card-title {
      font-size: large;
    }
  }
}
