@import url("https://fonts.googleapis.com/css2?family=Bevan&family=Libre+Baskerville:ital@1&family=Nunito:wght@600&family=Roboto&display=swap");

ion-content {
  --background: url("../../../../assets/koi-3303950.svg");
  .reloj {
    text-align: center;
    h1 {
      font-family: "Bevan", cursive;
      letter-spacing: 0.25em;

      margin: 1em;
      padding: 3%;
      border: solid 2px black;
      border-radius: 20px;
      font-size: xx-large;
      background: rgba(236, 188, 253, 0.9);
      text-shadow: 2px 2px 2px white;
      color: #10002b;
    }
  }
  ion-icon {
    color: black;
  }
  ion-item-sliding {
    ion-toggle {
      --background: violet;
      --background-checked: #f20089;
    }
    ion-item {
      --background: rgba(192, 253, 255, 0.9);
      color: black;
      margin: 1px;
    }
  }
}
