@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Roboto&display=swap");

ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
  --border-color: none;
}
ion-content {
  --background: url(../../../../assets/leaves-5725356.svg) 1%;

  .center {
    text-align: center;
  }
  ion-button {
    margin: 1em;
  }
  ion-card {
    border-radius: 1em;
    margin: 1em;
    ion-card-title {
      color: #d100d1;
      padding: 0.5em;
      font-family: "Nunito", sans-serif;
      font-size: x-large;
    }
    ion-card-content {
      font-family: "Roboto", sans-serif;
    }
  }
}
