div {
  height: 80vh;
}
ion-content {
  --background: url(../../../../assets/cosmos-5809271_640.png) 100%;

  ion-item {
    font-size: x-large;
    text-align: center;
    --background: rgba(222, 170, 255, 0.9);
  }
}
