<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="calendario">
      <ion-icon name="calendar-outline"></ion-icon>
       <ion-label>Calendario</ion-label>
     </ion-tab-button>

    <ion-tab-button tab="note">
      <ion-icon name="create-outline"></ion-icon>
      <ion-label>Notas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reloj">
     <ion-icon name="time-outline"></ion-icon>
      <ion-label>Reloj</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
