ion-content
{
--background: linear-gradient(180deg, rgba(192,156,250,1) 28%, rgba(192,253,255,1) 100%);

  #imag{
    align-content: center;
  }
  #btn{
    text-align: center;
    position: fixed;
    bottom: 15em;
    right: 0;
    left: 0;
    ion-button{
    --background: #deaaff;

    }

  }

}
